
<h1> Welcome to Ecart </h1>

<%= link_to "View Cart", carts_path %>
<br><br><br>



<table border=1>
  <tr>
    <th>Image</th>
    <th>Title</th>
    <th>Price</th>
    <th>Availability</th>
    <th>ISBN</th>
    <th>AuthorName</th>
    <th>PublisherName</th>
    <th>QuantityAvailable</th>
     <th>Add to Cart</th>
    

  </tr>
 


  <% @ecom.each do |b| %>
    <tr>
        <td><%= image_tag b.image_url(:thumb).to_s %></td>
	      <td><%= b.title %></td>
	      <td><%= b.price %></td>
	      <td><%= translate( b.available.class) %></td>
	      <td><%= b.isbn %></td>
	      <td><%= b.author.name %></td>
	      <td><%= b.publisher.name %></td>

        


      <% if b.available == true %>
          <td><%= b.quantity %></td>
          <td ><a href="/carts/<%=b.id %>">Add to cart</a></td>
        <% else %>
          <td><%= b.quantity=0 %></td>
        <% end %>
         
    </tr>
  <% end %>

</table>
