<h1> Register Authors </h1>


<%= form_for (@author)  do |f| %>
  
<% if @author.errors.any? %>
  <div id="error">
    <h2>
      <%= pluralize(@author.errors.count, "error") %> prohibited
      this author from being saved:
    </h2>
    <ul>
      <% @author.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
    </ul>
  </div>
<% end %>
	
	<p>
		<%= f.label :Name %>
		<%= f.text_field :name %>
	</p>

	<p>
		<%= f.submit :Submit %>
		
	</p>
<% end %>


