<h1> Your Orders Bill</h1>

<% total=0 %>
<table border=1>

      <tr>
        <th>Title</th>    
        <th>ISBN</th>    
        <th>Quantity</th>
        <th>Total Price</th>
     </tr>
   
   
<% @order.each do |c| %>    

    <tr>
          
        <td><%= c.title %></td>        
        <td><%= c.isbn %></td>        
        <td><%= c.quantity %></td>
        <td><%= c.price %></td>                            
         
    </tr>
    <% total+=c.quantity*c.price %>
    <% end %>
    
     <th>Total</th>
    <td><b><%= number_to_currency(total, :unit=>'$')%></b></td>    
</table>

<%= link_to "Back",carts_path %>
<%= link_to "Pay Bill", :controller=>"orders",:action=>"pay" %>
