<h1> Your Cart </h1>


<% total=0 %>
<table border=1>

  <tr>
    <th>Title</th>
    <th>Price</th>
    <th>ISBN</th>
    <th>AuthorName</th>
    <th>PublisherName</th>
    <th>Quantity</th>
 </tr>
   
   
<% @cart.each do |id,quantity| %>
    <% book=Book.find_by_id(id) %>

    <tr>
          
         <td><%=  book.title %></td>
        <td><%= number_to_currency(book.price, :unit=>'$') %></td>
        <td><%= book.isbn %></td>
          <td><%= book.author.name %></td>
          <td><%= book.publisher.name %></td>
       
        <td><%= quantity %></td>
        <td><%= link_to "Destroy",destory_path(id) %></td>
        <td><%= link_to "Check Out Asap !", addorder_path(id,quantity)%> </td>
          
         
    </tr>
    <% total+=quantity*book.price %>
    
    <% end %>
    <th>Total</th>
    <td><b><%= number_to_currency(total, :unit=>'$')%></b></td>
    
</table>


<%= link_to "List of Books",root_url %>